header#Header {
    #Navbar {
        position: relative;
        z-index: 200;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 77px;
        background: linear-gradient(180deg, rgba(59, 53, 99, .2), rgba(19, 20, 32, .2)), #131420;
        padding: 0 106px;
        width: 100%;

        .logo {
            img {
                height: 28px;
            }
        }

        .action_item {
            color: #fff;
            padding: 0 15.25px;
            font-weight: 600;

            &:hover {
                background: linear-gradient(225.13deg, #7bf5fb 1.83%, #8b8efa 90.04%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .hover_dropdown {
            .hover_dropdown_content {
                left: 0;
                top: -400px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 17px;
                width: 100%;
                z-index: 10;
                min-height: 368px;
                background: hsla(0, 0%, 100%, .04);
                backdrop-filter: blur(26px);
                -webkit-backdrop-filter: blur(26px);
                transition: top .3s linear;

                .hover_dropdown_list {
                    width: 100%;
                    max-width: 750px;

                    &.lg_list {
                        max-width: 1000px;
                    }
                }

                .dropdown_action_list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    gap: 51px 50px;
                    max-width: 1000px;
                    padding: 39px 0;

                    .dropdown_action_list_item {
                        .desc {
                            max-width: 185px;
                        }
                    }
                }
            }

            &:hover {
                .hover_dropdown_content {
                    top: 100%;
                    opacity: 1;
                    transform: scaleY(1);
                }
            }

        }

        .social_list {}

        .user_control {
            .connect_btn {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 117px;
                height: 30px;
                font-weight: 700;
                font-size: 12.6px;
                cursor: pointer;
                border-radius: 4px;
            }

            .user_btn {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                backdrop-filter: blur(21px);
                -webkit-backdrop-filter: blur(21px);
                border-radius: 4px;

                img {
                    width: 9px;
                    height: 10px;
                }
            }
        }
    }
}