#Igo {
  width: 100%;
  background: linear-gradient(180deg, rgba(19, 21, 28, 0.3) 79.72%, #13151c), url(../../static/images/headerBg.854cd063.png) no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
#Igo #Section2 {
  padding: 100px 0;
}
#Igo #Section2 .learning_card .card_item {
  position: relative;
  width: 379px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  background: rgba(50, 50, 50, 0.15);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 12px;
}
#Igo #Section2 .learning_card .card_item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #fff;
  padding-top: 25px;
  padding-left: 30px;
}
#Igo #Section2 .learning_card .card_item p {
  height: 90px;
  max-width: 300px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  opacity: 0.7;
  padding-top: 10px;
  padding-left: 30px;
}
#Igo #Section2 .learning_card .card_item .card_action {
  width: 100%;
  height: 50px;
  justify-content: center;
  background: rgba(82, 49, 212, 0.6);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 0 0 6px 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 18px;
  color: #fff;
}
#Igo #Section2 .learning_card .card_item .card_action:hover {
  background: rgba(64, 36, 174, 0.6);
}
#Igo #Section4 {
  padding-bottom: 100px;
}
#Igo #Section4 .com_pools_card .com_pools_card_item {
  min-height: 250px;
  background: hsla(0, 0%, 100%, 0.04);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 6px;
  margin-top: 50px;
}
#Igo #Section4 .com_pools_card .com_pools_card_item .card_header img {
  min-width: 128px;
  aspect-ratio: auto 128/128;
  height: 128px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}
#Igo #Section4 .com_pools_card .com_pools_card_item .card_header h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}
#Igo #Section4 .com_pools_card .com_pools_card_item .card_header p {
  width: 400px;
  height: 75px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.7;
}
#Igo #Section4 .com_pools_card .com_pools_card_item .card_body {
  border-radius: 6px;
  background: hsla(0, 0%, 100%, 0.01);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  height: calc(100% - 61px);
}
#Igo #Section4 .com_pools_card .com_pools_card_item .card_body .card_body_section_1 {
  height: 127px;
  border-bottom: 1.2px solid hsla(0, 0%, 100%, 0.14);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
#Igo #Section4 .com_pools_card .com_pools_card_item .card_body .card_body_section_1 [role=tooltip] {
  background: rgba(19, 20, 30, 0.878);
  border: 2px solid rgba(123, 245, 251, 0.08);
  border-radius: 6px;
  padding: 0 1.5rem;
}
#Igo #Section4 .com_pools_card .com_pools_card_item .card_body .card_body_section_1 .item_box small {
  font-weight: 600;
  font-size: 14px;
  opacity: 0.6;
  display: inline-block;
  margin-bottom: 8px;
}
#Igo #Section4 .com_pools_card .com_pools_card_item .card_body .card_body_section_2 {
  height: 164px;
  padding: 0 24px;
  width: 100%;
  font-size: 17px;
  font-weight: 600;
}
#Igo #Section4 .com_pools_card .com_pools_card_item .card_body .card_body_section_2 .progress_bar {
  width: 100%;
  border-radius: 6px;
  height: 13px;
  background: rgba(85, 67, 176, 0.4);
  display: block;
  position: relative;
  overflow: hidden;
}
#Igo #Section4 .com_pools_card .com_pools_card_item .card_body .card_body_section_2 .progress_bar::after {
  content: "";
  height: 100%;
  width: var(--percentage);
  background: #5643b0;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 6px;
}/*# sourceMappingURL=Igo.css.map */