@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rajdhani/v15/LDI2apCSOBg7S-QT7pasEcOv.woff) format('woff')
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rajdhani/v15/LDIxapCSOBg7S-QT7q4D.woff) format('woff')
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rajdhani/v15/LDI2apCSOBg7S-QT7pb0EMOv.woff) format('woff')
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rajdhani/v15/LDI2apCSOBg7S-QT7pbYF8Ov.woff) format('woff')
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rajdhani/v15/LDI2apCSOBg7S-QT7pa8FsOv.woff) format('woff')
}

* {
  box-sizing: border-box;
  font-family: 'Rajdhani';
}

body {
  background: #13141e !important;
  color: #fff !important;
}

.section_container {
  position: relative;
  max-width: 1440px;
  padding: 0 110px;
  margin: auto;

  @media (max-width: 1000px) {
    padding: 0 50px;
  }

  @media (max-width: 650px) {
    padding: 0 15px;
  }
}

.btn_how {
  background: #5231d4;
  color: #fff;
  padding: 18px 52px;
  border-radius: 6px;
  cursor: pointer;
  pointer-events: visible;

  &:hover {
    background: #4829c3;

  }
}

.btn_base {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  background: rgba(81, 47, 217, .96);
  border-radius: 6px;
  width: 164px;
  height: 48px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}

.btn_line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 50px;
  background: #5643b0;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  color: #fff;

  &:hover {
    background: #44358b;
  }
}

.btn_action_blink {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #7bf5fb;
  margin-top: 9px;
  cursor: pointer;
  transition: all .2s ease-out;
  &:hover{
    text-shadow: 0 0 15px #7bf5fb;
  }
}