#Homepage #Section1 {
  padding: 80px 110px;
}
#Homepage #Section1 .graphich_box video {
  width: 700px;
  height: auto;
}
#Homepage #Section1 .section_graphich {
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 100%;
  margin: auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: clip;
  pointer-events: none;
}
#Homepage #Section1 .section_graphich span {
  position: absolute;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  filter: blur(100px);
}
#Homepage #Section1 .section_graphich span:nth-child(1) {
  width: 744.88px;
  height: 544.76px;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0), #6353dd);
  background-image: linear-gradient(rgba(24, 75, 255, 0), rgb(99, 83, 221));
  transform: rotate(-107.82deg);
  margin: auto;
  left: -340px;
  top: -300px;
}
#Homepage #Section1 .section_graphich span:nth-child(2) {
  width: 1550.26px;
  height: 799.11px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0), #167ac6);
  background-image: linear-gradient(rgba(0, 194, 255, 0), rgb(22, 122, 198));
  transform: rotate(-110.82deg);
  margin: auto;
  left: -1200px;
  top: -500.15px;
  opacity: 0.8;
}
#Homepage #Section1 .section_graphich span:nth-child(3) {
  width: 400.88px;
  height: 544.76px;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0), #6353dd);
  background-image: linear-gradient(rgba(24, 75, 255, 0), rgb(99, 83, 221));
  transform: rotate(-107.82deg);
  margin: auto;
  right: 460px;
  top: 140px;
  opacity: 0.4;
}
#Homepage #Section1 .section_graphich span:nth-child(4) {
  width: 1550.26px;
  height: 799.11px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0), #167ac6);
  background-image: linear-gradient(rgba(0, 194, 255, 0), rgb(22, 122, 198));
  margin: auto;
  right: -1270px;
  top: -460.15px;
  opacity: 0.8;
}
#Homepage #Section2 .section_container {
  padding: 96px 110px;
}
#Homepage #Section2 .section_title {
  margin-bottom: 50px;
}
#Homepage #Section2 .pool_card {
  width: 572px;
  min-height: 250px;
  background: hsla(0, 0%, 100%, 0.04);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 6px;
}
#Homepage #Section2 .pool_card:hover {
  box-shadow: 1px 2px 9px 2px rgba(83, 58, 209, 0.75);
  transform: scale(1.001);
}
#Homepage #Section2 .pool_card .card_header {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.239);
}
#Homepage #Section2 .pool_card .card_header img {
  min-width: 128px;
  aspect-ratio: auto 128/128;
  height: 128px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}
#Homepage #Section2 .pool_card .card_header h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}
#Homepage #Section2 .pool_card .card_header .igo_action {
  padding: 13px 15px;
  text-transform: uppercase;
  background: hsla(0, 0%, 100%, 0.2);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 6px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
#Homepage #Section2 .pool_card .card_header p {
  width: 400px;
  height: 75px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.7;
}
#Homepage #Section2 .pool_card .card_body .content {
  font-weight: 600;
  font-size: 17px;
  line-height: 140%;
  color: #b0b0b0;
}
#Homepage #Section2 .pool_card .card_body .value {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #fff;
}/*# sourceMappingURL=Homepage.css.map */