#Homepage #Section1 {
  padding: 80px 110px;
}
#Homepage #Section1 .graphich_box video {
  width: 700px;
  height: auto;
}
#Homepage #Section1 .section_graphich {
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 100%;
  margin: auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: clip;
  pointer-events: none;
}
#Homepage #Section1 .section_graphich span {
  position: absolute;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  filter: blur(100px);
}
#Homepage #Section1 .section_graphich span:nth-child(1) {
  width: 744.88px;
  height: 544.76px;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0), #6353dd);
  background-image: linear-gradient(rgba(24, 75, 255, 0), rgb(99, 83, 221));
  transform: rotate(-107.82deg);
  margin: auto;
  left: -340px;
  top: -300px;
}
#Homepage #Section1 .section_graphich span:nth-child(2) {
  width: 1550.26px;
  height: 799.11px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0), #167ac6);
  background-image: linear-gradient(rgba(0, 194, 255, 0), rgb(22, 122, 198));
  transform: rotate(-110.82deg);
  margin: auto;
  left: -1200px;
  top: -500.15px;
  opacity: 0.8;
}
#Homepage #Section1 .section_graphich span:nth-child(3) {
  width: 400.88px;
  height: 544.76px;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0), #6353dd);
  background-image: linear-gradient(rgba(24, 75, 255, 0), rgb(99, 83, 221));
  transform: rotate(-107.82deg);
  margin: auto;
  right: 460px;
  top: 140px;
  opacity: 0.4;
}
#Homepage #Section1 .section_graphich span:nth-child(4) {
  width: 1550.26px;
  height: 799.11px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0), #167ac6);
  background-image: linear-gradient(rgba(0, 194, 255, 0), rgb(22, 122, 198));
  margin: auto;
  right: -1270px;
  top: -460.15px;
  opacity: 0.8;
}
#Homepage #Section2 .section_container {
  padding: 96px 110px;
}
#Homepage #Section2 .section_title {
  margin-bottom: 50px;
}
#Homepage #Section2 .pool_card {
  width: 572px;
  min-height: 250px;
  background: hsla(0, 0%, 100%, 0.04);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 6px;
}
#Homepage #Section2 .pool_card:hover {
  box-shadow: 1px 2px 9px 2px rgba(83, 58, 209, 0.75);
  transform: scale(1.001);
}
#Homepage #Section2 .pool_card .card_header {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.239);
}
#Homepage #Section2 .pool_card .card_header img {
  min-width: 128px;
  aspect-ratio: auto 128/128;
  height: 128px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}
#Homepage #Section2 .pool_card .card_header h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}
#Homepage #Section2 .pool_card .card_header .igo_action {
  padding: 13px 15px;
  text-transform: uppercase;
  background: hsla(0, 0%, 100%, 0.2);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 6px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
#Homepage #Section2 .pool_card .card_header p {
  width: 400px;
  height: 75px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.7;
}
#Homepage #Section2 .pool_card .card_body .content {
  font-weight: 600;
  font-size: 17px;
  line-height: 140%;
  color: #b0b0b0;
}
#Homepage #Section2 .pool_card .card_body .value {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #fff;
}
#Homepage #Section3 {
  position: relative;
}
#Homepage #Section3 .section_body {
  height: calc(100vh - 96px);
}
#Homepage #Section3 .section_title {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 72px;
  padding-top: 48px;
}
#Homepage #Section3 .content_body iframe {
  width: 100%;
  max-width: 750px;
  margin: auto;
  border-radius: 6px;
  height: 421px;
}
#Homepage #Section3 .section_graphich {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: -1;
}
#Homepage #Section3 .section_graphich span {
  position: absolute;
  filter: blur(100px);
  margin: auto;
  left: 0;
  right: 0;
  display: block;
}
#Homepage #Section3 .section_graphich span:nth-child(1) {
  width: 1143.3px;
  height: 524.65px;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0), #5949d1);
  top: -0.44px;
}
#Homepage #Section3 .section_graphich span:nth-child(2) {
  width: 90%;
  height: 769.62px;
  background: linear-gradient(180deg, rgba(95, 74, 189, 0), #5237ca);
  top: -356.15px;
  position: absolute;
  filter: blur(100px);
  margin: auto;
  left: 0;
  right: 0;
}
#Homepage #Section3 .section_footer {
  background: rgba(101, 113, 218, 0.2);
  height: 96px;
}
#Homepage #Section4 {
  position: relative;
}
#Homepage #Section4 .section_inner {
  padding: 180px 0 48px;
  position: relative;
}
#Homepage #Section4 .section_inner .section_content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  opacity: 0.7;
  margin-top: 13px;
}
#Homepage #Section4 .section_inner .line_list .line_list_item {
  position: relative;
}
#Homepage #Section4 .section_inner .line_list .line_list_item:not(:last-child)::after {
  content: "";
  left: 30px;
  top: 60px;
  z-index: -1;
  height: 100%;
  width: 1px;
  background: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  z-index: -1;
}
#Homepage #Section4 .section_inner .line_list .process_img img {
  position: relative;
  background: #32323B;
  border-radius: 10px;
  z-index: 2;
  min-width: 60px;
  height: 60px;
}
#Homepage #Section4 .section_inner .line_list .line_content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  opacity: 0.7;
  margin: 12px 0 24px;
}
#Homepage #Section4 .section_graphich {
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 100%;
  margin: auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: clip;
  pointer-events: none;
  background: url("../../static/images/Looper-3.3a647040.svg") 0 no-repeat;
}
#Homepage #Section4 .section_graphich span {
  position: absolute;
  width: 1174.02px;
  height: 815.24px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0), #68c8e6);
  filter: blur(100px);
  transform: matrix(0.15, -0.99, -0.99, -0.15, 0, 0);
  margin: auto;
  left: -300px;
  top: 100.15px;
  opacity: 0.3;
}
#Homepage #Section5 .section_inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 137px;
  padding: 198px 0;
}
#Homepage #Section5 .section_inner .content_header p {
  font-weight: 500;
  font-size: 18px;
  color: #b8b9bc;
  margin-bottom: 50px;
}
#Homepage #Section5 .section_inner .content_header p span {
  color: #7bf5fb;
}
#Homepage #Section5 .section_inner .content_body .tab_list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  height: 216px;
}
#Homepage #Section5 .section_inner .content_body .tab_list .tab_list_button {
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
  height: 67px;
  min-width: 111px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.1);
  color: #fff;
  width: 100%;
}
#Homepage #Section5 .section_inner .content_body .tab_list .tab_list_button:hover {
  color: #5643b0;
}
#Homepage #Section5 .section_inner .content_body .tab_list .tab_list_button[aria-selected=true] {
  background: #5643b0;
}
#Homepage #Section5 .section_inner .content_body .tab_list .tab_list_button[aria-selected=true]:hover {
  color: #fff;
}/*# sourceMappingURL=Homepage.css.map */